{% extends 'base.html' %}
{% block style %}
<style>
    .lst_rt {
        padding: 0 5%;
        margin: 0 0 150px 0;
        font-family: 'Graphik Web';
    }

    #pd_list_title_wrap .pd_list_hd_comp h2 {
        color: rgba(51, 51, 51, 1);
        font-weight: normal;
        font-style: normal;
        font-size: 36px;
        line-height: 1.4em;
    }

    h3 {
        padding: 2% 0;
    }

    img {
        width: 100%;
        margin-bottom: 20px;
    }

    .pd_row {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 1fr;
    }

    .main {
        padding: 20px;
        font-size: 15px;
        font-weight: 300;
        color: #333333;
    }

    .name {
        font-weight: 400;
    }

    a,
    a:hover {
        color: #333;
        text-decoration: none;
    }

    .btn {
        display: block;
        padding: 20px 10px;
        background: transparent;
        border: 1px solid #4a4a4a;
        font-size: 13px;
        color: #4a4a4a;
        margin: 5px;
        border-radius: 0;
    }

    .btn:hover {
        background: #4a4a4a;
        border: 1px solid #4a4a4a;
        color: #fff
    }

    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
</style>

{% endblock %}
{% block main %}

<div class="lst_rt">
    <div class="pd_row">
        <img src="{{ pd.tumbimg }}" class="main">
        <div class="namebox main">
            <div class="name">{{ pd.name }}</div>
            <div class="">{{ pd.exp }}</div>
            {% if pd.pctoff != 0 %}
            <div class="">{{ pd.retail }} 원</div>
            <div class="">{{ pd.pctoff }} % 할인</div>
            {% endif %}
            <div class="">{{ pd.price }} 원</div>
            <div class="box">
                <button type="button" class="btn" name="checkout" onclick="alert('공사중입니다.')">
                    구매
                </button>
                <button type="button" class="btn" name="checkout" onclick="alert('공사중입니다.')">
                    장바구니 넣기
                </button>
            </div>
        </div>
    </div>


    <h3>상세페이지</h3>
    <div class="">{{ pd.detail }}</div>
</div>
{% endblock %}