{% extends 'base.html' %}

{% block style %}
    <style>
        h3 {
            text-align: center;
        }
        main {
            margin: 50px auto;
            min-height: 400px;
        }

        .form-control.btn-outline-primary {
            margin-top: 10px;
            background-color: #f4f4f4;
            text-align: center;
            width: 200px;
            font-size: 14px;
            color: black;
            border: 1px solid #ccc ;
            padding: 14px;
            cursor: pointer;
            border-radius: 0;
        }

        .form-control.btn-outline-primary:hover {
            color: white;
            border: 1px solid transparent ;
            background-color: black;
        }
    </style>
{% endblock %}

{% block main %}
    <main>
        <div id="align">
            <h3>회원가입이 완료되었습니다.</h3>
            <h3>로그인 하러가기</h3>

            <div class="d-flex justify-content-center">
                <div class="form-group">
                    <button type="button" class="form-control btn btn-outline-primary btn-lg theme-btn--primary-inverse sqs-button-element--primary" data-animation-role="header-element" id="loginbtn" style="transition-timing-function: ease; transition-duration: 0.4s; transition-delay: 0.172727s; animation-duration: 0.4s;">LOG IN</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script>
        let loginbtn = document.querySelector('#loginbtn');
        loginbtn.addEventListener('click', () => {
            location.href = 'http://127.0.0.1:8000/login';

        });

    </script>

{% endblock %}