{% extends 'base.html' %}

{% block style %}
    <style>
        /* 기본으로 생기는 파란 라인 제거*/
        input:focus, textarea:focus, button:focus {
            outline:none;
        }

        a:hover {
            text-decoration: none;
        }

        body {
            /*font-family: Arial, sans-serif;*/
            font-family: "Orbit", sans-serif;
            font-weight: 400;
            font-style: normal;
        {#padding-top : 500px;#}
        {#margin: 240px;#}
            background-color: #E8E8E8;
        {#padding: 0;#}
        }

        .myaccount-menu {

            background-color: #fff;
            box-shadow: 0 2px 5px rgba(210, 210, 210, 0.1);
            margin: 30px 100px auto;
            border: solid #fff 10px;

            display:flex;
            flex-basis:200px;
            flex-shrink: 0;
            flex-direction: column;
            height: 500px;
        }

        div ul {
            list-style-type: none;
            padding: 0;
            margin-left: 30px;
        }

        h3 {
            font-size: 15px;
            line-height: 18px;
            font-weight: 700;
            margin-top: 15px;
            padding-top:15px;

        }

        .container {
        {#max-width: 1000px; /* 수정: 너비를 조금 더 넓게 설정 */#}
            margin-top: 30px;
            margin-left: 20px;
            background-color: #fff;
            padding: 0 10px;
            border-radius: 5px;
            border-right: solid #fff 10px;
            box-shadow: 0 2px 5px rgba(210, 210, 210, 0.1);
        }

        .form-group {
            text-align: left;
            margin-bottom: 10px;
            justify-content: center; /* 수평 가운데 정렬 */
        }

        .form-group-check {
            margin: 0;
            text-align: left;
            height: 67px;
            padding-bottom: -10px;

        }

        .form-group label {
            padding-right: 20px;
            margin-left: 3px;
            margin-top: -10px;
            /* margin-bottom: 2px; /* login은 10px*/
        {#display: block;#}
            font-weight: bold;
        }

        .form-group input[type="text"],
        .form-group input[type="password"],
        .form-group textarea {
            width: 95%;
            padding: 10px;
            margin-top: -5px;

            border: 1px solid #ccc;
            border-radius: 1px;
            box-sizing: border-box;
        }

        .form-select {
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid #ccc;
        }

        .form-control.btn-outline-primary {
            margin: 0 auto ;
            width: 60% ;
            background-color: #f4f4f4;
            text-align: center;
            font-size: 14px;
            color: black;
            border: 1px solid dimgrey ;
            padding: 14px;
            cursor: pointer;
            border-radius: 0;
        }

        .form-control.btn-outline-primary:hover {
            color: white;
            border: 1px solid transparent ;
            background-color: black;
        }
    </style>
{% endblock %}

{% block main %}
    <main>
        <div class="row myaccount-container">
            <div class="myaccount-menu">
                <div class="col">
                    <h3>
                        <a href="/myinfo" style="color: #8B8B8B;">고객 정보</a>
                    </h3>
                    <ul><li><a href="/myinfo/modify">회원정보 수정</a></li>
                        <li><a href="#">배송지 정보</a></li>
                        <li><a href="#">적립금</a></li>
                        <li><a href="#">쿠폰</a></li>
                        <li style="margin-top:10px;">
                            <a href="/logout" class="xans-element- xans-layout xans-layout-statelogon ">로그아웃</a>
                        </li>
                    </ul><h3 style="font-size: 15px; color: #8B8B8B; line-height: 18px; font-weight:700; border-top:1px solid #E1E1E1; margin-top:15px; padding-top:15px;">주문내역</h3>
                    <ul><li><a href="/myinfo/orders">주문내역</a></li>
                        <li><a href="/#">교환/반품 내역</a></li>
                    </ul><h3 style="font-size: 15px; color: #8B8B8B; line-height: 18px; font-weight:700; border-top:1px solid #E1E1E1; margin-top:40px; padding-top:15px;">리뷰 및 질문</h3>
                    <ul>
                        <!--        <li><a href="/myshop/wish_list.html">Wish List</a></li> -->
                        <li><a href="/#">리뷰 작성</a></li>
                        <li><a href="/#">자주 묻는 질문</a></li>
                        <li><a href="/myinfo/contacts">내 질문 내역</a></li>
                    </ul>
                </div>
            </div>


            <div class="container w-50">
                <h3>{{ my.name }}님의 주문내역</h3>
                <table class="table table-bordered table-hover container mt-5 w-80" >

                    <colgroup> <!-- table-layout: fixed 속성의 설정된 경우, 각 컬럼에 대한 스타일을 지정 -->
                        <col style="width: 12%">
                        <col style="width: 15%">
                        <col style="">
                        <col style="width: 8%">
                        <col style="width: 15%">
                        <col style="width: 15%">
                    </colgroup>

                    <thead class="table-dark">
                    <tr><th scope="col">주문번호</th>
                        <th scope="col">주문일</th>
                        <th scope="col">상품정보</th>
                        <th scope="col">수량</th>
                        <th scope="col">결제금액</th>
                        <th scope="col">주문상태</th></tr>
                    </thead>
                    {% if 'm' in request.session %}
                        {% for od in odlist %}
                            <tr><th scope="row">{{ od.ono }}</th>
                                <td>{{ od.regdate.strftime('%Y-%m-%d')  }}</td>
                                <td><a href="/shops/view/{{ od.pno }}">
                                        {{ od.name }}
                                </a></td>
                                <td>{{ od.quantity }}</td>
                                <td>{{ od.pdprice }}</td>
                                <td>{{ od.status }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}


                </table>
                <div>
                    <div class="searchbox">
                        <div class="row">
                            <div class="col-auto">
                                <select class="form-select" name="ftype" id="ftype">
                                    <option value="title">제목</option>
                                    <option value="contents">본문</option>
                                    <!-- <option value="userid">작성자</option> -->
                                    <option value="titconts">제목+본문</option>
                                    <!-- <option value="comments">댓글내용</option>-->
                                </select>
                            </div>
                        <div class="col-auto">
                            <input type="text" name="fkey" id="fkey" class="form-control"></div>

                        <div class="col-auto"><button type="button" id="findbtn"
                                                      class="btn-btn-success">검색</button></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </main>

{% endblock %}


{% block script %}



    <script>

        let msg1 = document.querySelector('#msg1');
        let msg2 = document.querySelector('#msg2');
        let msg3 = document.querySelector('#msg3');
        let msg4 = document.querySelector('#msg4');
        let msg5 = document.querySelector('#msg5');
        let msgAdd = document.querySelector('#msgAdd');
        let msgNum = document.querySelector('#msgNum');


        let echeckbtn = document.querySelector('#echeckbtn');

        let useridInput = document.querySelector('#userid');
        {##}
        {#function clearInput() {#}
        {#    const inputElement = document.querySelector("#userid");#}
        {#    inputElement.value = '{{ my.userid }}';#}
        {#}#}
        {##}
        {#let DefineUseridInput = () => {#}
        {#    useridInput.value = '{{ my.userid }}';#}
        {#}#}
        {#modifybtn.addEventListener('click', DefineUseridInput);#}

        //let nameval = document.querySelector('#name')
        //let nameInput = document.nameval.value;
        //let phoneInput = document.phone.value;

        //let updatePhone = () => {
        //    phoneInput.value = mobile1Input.value + mobile2Input.value;
        //};

        let passwdInput = document.querySelector('#passwd');
        let repwdInput = document.querySelector('#repwd');
        // let nameInput = document.querySelector('#name');
        let emailInput = document.querySelector('#email');
        let address1Input = document.querySelector('#address1');
        let address2Input = document.querySelector('#address2');
        let mobileInput = document.querySelector('#mobile2');
        let modifyfrm = document.modifyfrm;


        // phone 요소 가져오기
        // let phoneInput = document.querySelector('#phone');


        // mobile1과 mobile2 요소 가져오기
        // let mobile1Input = document.querySelector('#mobile1');
        // let mobile2Input = document.querySelector('#mobile2');

        // mobile1과 mobile2의 값이 변경될 때마다 phone의 값을 업데이트하는 함수 정의
        // let updatePhone = () => {
        //    phoneInput.value = mobile1Input.value + mobile2Input.value;
        //};

        // mobile1과 mobile2의 값이 변경될 때마다 updatePhone 함수 호출
        // mobile1Input.addEventListener('blur', updatePhone);
        // mobile2Input.addEventListener('blur', updatePhone);

        // 입력 필드와 메시지 요소 초기화 함수
        let resetFieldAndMessage = (inputElement, messageElement) => {
            inputElement.style.border = ''; // 입력 필드 초기화
            messageElement.textContent = ''; // 메시지 초기화
        };

        // 메시지를 표시하고 입력 필드를 강조하는 함수
        let showMessage = (inputElement, messageElement, message) => {
            messageElement.textContent = message;
            messageElement.style.color = 'red'; // 메시지를 빨간색으로 강조
            inputElement.style.border = '1px solid red'; // 입력 필드 강조
        };

        // 메시지를 숨기고 입력 필드를 정상 상태로 돌리는 함수
        let hideMessage = (inputElement, messageElement) => {
            messageElement.textContent = ''; // 메시지 초기화
            messageElement.style.color = ''; // 메시지 텍스트 색상 초기화
            inputElement.style.border = ''; // 입력 필드 테두리를 기본값으로 설정
        };

        // 이벤트 핸들러 등록
        useridInput.addEventListener('blur', () => { checkuid(); });
        passwdInput.addEventListener('blur', () => { checkpwd(); });
        repwdInput.addEventListener('blur', () => { checkrepwd(); });
        // emailInput.addEventListener('blur', () => { checkemail(); });

        // 폼 검증 함수
        let checkForm = () => {
            resetFieldAndMessage(useridInput, msg1);
            resetFieldAndMessage(passwdInput, msg2);
            resetFieldAndMessage(repwdInput, msg3);
            resetFieldAndMessage(address2Input, msgAdd);
            resetFieldAndMessage(emailInput, msg5);

            if (useridInput.value === '') {
                showMessage(useridInput, msg1, '아이디를 입력하세요');
                useridInput.focus();
                return false;
            } else if (passwdInput.value === '') {
                showMessage(passwdInput, msg2, '비밀번호를 입력하세요');
                passwdInput.focus();
                return false;
            } else if (repwdInput.value !== passwdInput.value || repwdInput.value === '') {
                showMessage(repwdInput, msg3, '비밀번호를 확인하세요');
                repwdInput.focus();
                return false;
            } else if (address2Input.value === '' || address1Input.value === '') {
                showMessage(address2Input, msgAdd, '주소를 입력해주세요.');
                address2Input.focus();
                return false;
            } else if (checkpwd() === false ) {
                document.getElementById("passwd").focus();
                return false;
            } else if (checkrepwd() === false ) {
                document.getElementById("repwd").focus();
                return false;
            } else if (checkemail() === false) {
                document.getElementById("email").focus();
                return false;
            } else {
                return true;
            }
        };

        // 아이디 유효성 검사 함수
        let checkuid = () => {
            let uid = useridInput.value;
            let re = /^[a-z]+[a-z0-9]{4,15}$/g;
            let result = re.test(uid) ? '' : '아이디를 다시 입력해주세요.';
            if (result === '') {
                hideMessage(useridInput, msg1);
            } else {
                showMessage(useridInput, msg1, result);
                return false;
            }
        };

        // 비밀번호 유효성 검사 함수
        let checkpwd = () => {
            let pwd = passwdInput.value;
            let re = /^[a-z]+[a-z0-9]{4,15}$/g;
            let result = re.test(pwd) ? '' : '비밀번호를 다시 입력해주세요.';
            if (result === '') {
                hideMessage(passwdInput, msg2);
            } else {
                showMessage(passwdInput, msg2, result);
                return false;
            }
        };

        // 비밀번호 확인 함수
        let checkrepwd = () => {
            let result = repwdInput.value === passwdInput.value ? '' : '비밀번호가 일치하지 않습니다.';
            if (result === '') {
                hideMessage(repwdInput, msg3);
            } else {
                showMessage(repwdInput, msg3, result);
                return false;
            }
        };

        // 이름 유효성 검사 함수
        let checkname = () => {
            let name = nameInput.value;
            let re = /^[가-힣]{2,10}$/
            let result = re.test(name) ? '' : '이름을 다시 입력해주세요.';
            if (result === '') {
                hideMessage(nameInput, msg4);
            } else {
                showMessage(nameInput, msg4, result);
                return false;
            }
        };


        // 이메일 유효성 검사 함수
        let checkemail = () => {
            let email = emailInput.value;
            let re = /^(?:[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/;
            let result = re.test(email) ? '' : '이메일을 다시 입력해주세요.';
            if (result === '') {
                hideMessage(emailInput, msg5);
                return true;
            } else {
                showMessage(emailInput, msg5, result);
                return false;
            }
        };

        // 전화번호 유효성 검사 함수
        let checkphone = () => {
            let phone = mobileInput.value;
            let re = /^\d{7,8}$/;
            let result = re.test(phone) ? '' : '전화번호를 다시 입력해주세요.';
            if (result === '') {
                hideMessage(mobileInput, msgNum);
                return true;
            } else {
                showMessage(mobileInput, msgNum, result);
                return false;
            }
        };
    </script>

    <script>
        let modifybtn = document.querySelector('#modifybtn');
        modifybtn.addEventListener('click', () => {

            if (!checkForm()) {return;}  // checkForm 에서 넘어온게 true 일 경우에 작동

            // 폼에 입력된 데이터를 초기화함
            const formData = new FormData(modifyfrm);
            // 서버에 보내기 위해 폼 데이터를 JSON 객체로 변환
            let jsondata = {};
            formData.forEach(function (val, key){
                jsondata[key] = val;
            });     // 작성된 데이터를 json 형태로 저장함
            // ajax를 이용해서 서버로 전송하고 결과 받음

            // delete jsondata['mobile2']
            console.log(jsondata);

            fetch('http://127.0.0.1:8000/myinfo/modify', {
                method: 'POST',                     // 데이터 전송방식
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },                                  // 전송할 데이터 형식
                body: JSON.stringify(jsondata)      // 서버로 전송할 데이터
            })
                .then((res) => res.json())          // 서버로부터 응답받음
                .then((data) => console.log(data))  // 서버 데이터 콘솔에 출력
                // 잘 나오는거 확인하여 주석처리
                .then((res) => res.text())          // 서버로부터 응답받음 txt로 받음
                .then((data) => {
                    if (parseInt(data) > 0) location.href = '/myinfo' // 회원정보 수정 성공시 페이지 출력
                    else location.href = '/error'           // 회원정보 수정 실패시 페이지 출력
                })
                .catch((err) => console.log(err));  // 오류발생시 콘솔에 출력
        });

    </script>

    <script>
        userid = document.querySelector('#userid');
        phone = document.querySelector('#phone');
        let code1 = document.querySelector('#code1');
        let code2 = document.querySelector('#code2');
        let code3 = document.querySelector('#code3');





        echeckbtn.addEventListener('click', () => {
            let isEmailValid = checkemail();

            // ajax를 이용해서 서버로 전송하고 결과 받음
            fetch(`http://127.0.0.1:8000/check/email/${modifyfrm.email.value}`, {
                method: 'GET',                     // 데이터 전송방식
            })
                .then((res) => res.text())          // 서버로부터 응답받음 txt로 받음
                .then((data) => {
                    hideMessage(emailInput, code3);

                    if (data === '"yes"' && isEmailValid === true) {
                        showMessage(emailInput, code3, '사용중인 이메일입니다.');
                        modifybtn.disabled = true;
                        emailInput.focus();

                    } else if (data === '"no"' && isEmailValid === true) {
                        hideMessage(emailInput, code3);
                        code3.textContent = '사용가능한 이메일입니다.';
                        modifybtn.disabled = false;
                    }
                })
                .catch((err) => console.log(err));  // 오류발생시 콘솔에 출력
        });

    </script>



{% endblock %}

