{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/shop.css') }}">
<style>
    body,
    input,
    textarea,
    button,
    select {
        font-size: 14px;
        line-height: 1.6;
        color: #333333;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
    }

    input,
    textarea,
    button,
    select {
        padding: 0;
        margin: 0;
        border: 0px solid;
        border-radius: 0px;
        outline: none;
    }

    .drawtop .cart {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        margin: 0 20px;
        padding: 0 24px;
        box-sizing: border-box;
    }

    .cart_inner {
        margin-bottom: 0;
        max-height: 100%;
        overflow-y: auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .cart_row {
        grid-template-columns:250px 1fr 425px;
        grid-gap: 40px;
        display: grid;
        padding: 25px;
        background: #faf9f7;
        margin-bottom: 30px;
    }

    .cart_pd_img {
        width: 250px;
        height: 150px;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }


    .cart_pd_info_container {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        text-align: left
    }

    .cart_pd_title {
        display: block;
        /* 원본 사이트 폰트 - [ ] 비슷한 무료 폰트 찾기*/
        /*font-family: BerlingskeSerif-Regular;*/
        font-weight: 400;
        font-size: 22px;
        line-height: normal
    }

    .cart_pd_info_detail {
        display: grid;
        -moz-column-gap: 60px;
        align-self: center;
        grid-template-columns: 1fr 75px 1fr auto;
        row-gap: 0;
        text-align: center;
        margin-top: 24px;
        column-gap: 60px
    }

    .cart_pd_info_wrap {
        display: grid;
        align-self: center;
        margin-top: 24px;
        grid-template-columns: auto 1fr;
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
        row-gap: 3px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: Graphik Web, sans-serif
    }

    .cart_pd_info_wrap div:nth-child(odd) {
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase
    }

    .cart_pd_info_wrap div:nth-child(2n) {
        font-size: 12px
    }

    .price_col {
        display: grid;
        row-gap: 5px
    }

    .price_col[qty--hidden] {
        opacity: 0
    }

    .price_col > div:nth-child(odd) {
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase
    }

    .price_col > div:nth-child(2n) {
        font-size: 12px;
        line-height: 13px
    }

    .price_col.remove_item button {
        display: inline;
        font-size: 12px;
        line-height: 16px;
        text-align: left;
        background: none;
    }


    .cart_qty {
        /*display: grid;*/
        /*grid-template-columns: 1fr 1fr 1fr;*/
        /*padding: 0 4px;*/
        /*background: #fff;*/
        /*border: 1px solid #ece9e6*/
    }

    .cart_qty button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        background: #fff;
    }

    .cart_qty input[disabled] {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        font-family: Graphik Web, sans-serif;
        font-size: 12px;
        color: #333;
        text-align: center
    }


    /*footer*/
    .footer {
        border-top: 1px solid #ece9e6;
        padding: 20px;
        background: #fff
    }


    .footer_inner {
        display: grid;
        grid-template-columns:auto 425px;
        grid-column-gap: 20px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .footer_inner > div:nth-child(odd) {
        -webkit-box-ordinal-group: unset;
        -webkit-order: unset;
        -ms-flex-order: unset;
        order: unset;
        margin-top: 0
    }

    .cart_notice {
        display: block;
        font-size: 12px;
        text-align: left;
        margin-top: 20px;
    }

    .cart_notice p {
        margin-bottom: 0;
    }

    .cart_notice a {
        text-decoration: underline;
        color: #333;
    }

    .subtotal_wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 15px
    }

    .subtotal_wrapper div:nth-child(odd) {
        font-size: 18px
    }

    .subtotal_wrapper div:nth-child(2n) {
        font-size: 15px;
        color: #4a4a4a
    }

    .cart_btns {
        display: grid;
        grid-template-columns: 42% 52%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .cart_notice a:hover {
        opacity: .7;
        font-weight: 300;
    }

    #CartDrawer a {
        color: #333;
        text-decoration: none;
        outline: none;
        padding: 0;
        margin: 0;
    }

    #CartDrawer a:hover,
    #CartDrawer a:active {
        text-decoration: none;
        color: #333;
        font-weight: normal
    }

    .empt {
        width:100%;height:400px;text-align:center;font-size:30px;font-weight:300;
    }

</style>
{% endblock %}

{% block main %}
<main>
    <h2>장바구니</h2>
    <div id="CartDrawer" class="drawtop" tabindex="-1">
        <form action="/cart" method="post" name="cartfrm" class="cart" data-hs-cf-bound="true" id="cartfrm">
            <!-- 더미 카트 데이터 row 1 -->
            {% set totals = [] %}
            {% if row %}{% else %}<div class="empt">장바구니가 비었습니다.</div>{% endif %}
            {% for c in clist %}
            {% if totals.append(c.price * c.quantity) %}{% endif %}
            <div class="cart_inner">
                <div class="cart_row">
                    <div class="cart_pd_img" style="background-image: url('{{ c.tumbimg }}')"></div>
                    <div class="cart_pd_info_container">
                        <a href="/shops/view/{{ c.pno }}" class="blank">
                            <span class="cart_pd_title">{{ c.name }}</span>
                            <div class="cart_pd_info_wrap">
                                <div class="pd_exp">크기</div>
                                <div class="pd_exp">가로 {{ c.width }}, 세로 {{ c.deps }}, 높이 {{ c.height }}</div>
                                <div class="pd_exp">마감</div>
                                <div class="pd_exp">천연 오크</div>
                            </div>
                        </a>
                    </div>
                    <div class="cart_pd_info_detail">
                        <div class="price_col">
                            <div>가격</div>
                            <div class="pd_price">{{ c.price }}</div>
                        </div>
                        <div class="price_col">
                            <div>Qty</div>
                            <div class="cart_qty">
                                <button type="button" id="mbtn" style="display:none;">
                                    -
                                </button>
                                <input type="text" name="test" id="test2" readonly value="{{ c.quantity }}"
                                       pattern="[0-9]?"
                                       disabled>
                                <button type="button" id="pbtn" style="display:none;">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="price_col">
                            <div>합계</div>
                            <div class="pd_price">{{ c.price * c.quantity }}</div>
                        </div>
                        <div class="price_col remove_item">
                            <button type="button" class="xbtn" id="{{ c.cno }}">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


            <!-- footer -->
            <div class="footer">
                <div class="footer_inner">
                    <div class="cart_notice">
                        <p>이 구매를 진행함으로써 귀하는 당사의
                            <a href="/visit/visit" title="Terms and Conditions">Terms and
                                개인 정보 보호 정책</a>과
                            <a href="/visit/visit" title="Privacy">
                                약관
                            </a>에 동의합니다.
                        </p>
                    </div>
                    <div class="">
                        <div class="subtotal_wrapper">
                            <div>총 가격</div>
                            <div class="total_price pd_price">{{ totals | sum }} 원</div>
                        </div>
                        <div class="cart_btns box">
                            <button type="button" class="btn" name="checkout" id="bbtn">
                                돌아가기
                            </button>
                            <a href="/shops/order" style="display:grid">
                                <button type="button" class="btn" name="checkout" id="obtn">
                                    구매
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    // 수량 버튼
    let mbtn = document.querySelector('#mbtn');
    let pbtn = document.querySelector('#pbtn');
    let test2 = document.querySelector('#test2');

    // -
    mbtn.addEventListener('click', () => {
        if (test2.value > 1) {
            test2.value -= 1;
        }
    });

    // +
    pbtn.addEventListener('click', () => {
        test2.value = Number(test2.value) + 1;
    });

    // , 설정
    const reprices = document.querySelectorAll('.pd_price');
    for (const reprice of reprices) {
        chval = reprice.innerHTML.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        reprice.innerHTML = chval;
    }

    // 장바구니 항목 삭제
    const btns = document.querySelectorAll('.xbtn');
    for (const btn of btns) {
        btn.addEventListener('click', () => {
            const cartId = btn.id;
            fetch(`http://127.0.0.1:8000/shops/cart/${cartId}`, {
                method: 'DELETE',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            })
                .then((res) => res.json())
                .then((data) => {
                    // 서버 응답에 따라 처리
                    if (data.message === 'success') {
                        window.alert('장바구니에서 상품이 삭제되었습니다.');
                        location.reload(true);
                    } else {
                        window.alert('상품 삭제 중 오류가 발생했습니다. 관리자에게 문의하여 주십시오.');
                    }
                })
                .catch((err) => console.log(err));
        });
    }

    // 이전으로 돌아가기
    document.querySelector('#bbtn').addEventListener('click', () => {
        history.back();
    });


</script>
{% endblock %}