{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="https://d3ezzyhdhk9tz7.cloudfront.net/static/css/shop.css">
<style>
    .lst_rt {
        width:80%;
        margin:0 auto;
    }

    img {
        width: 100%;
        margin-bottom: 20px;
    }

    .pd_row {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .product {
        padding: 25px;
        font-size: 12px;
        font-weight: 300;
        color: #333333;
    }

    .pd_fl {
        display: flex;
        justify-content: space-between;
    }

    .pd_title {
        font-size: 18px;
        font-weight: 300;
    }

    .blank,
    .blank:hover {
        color: #333;
        text-decoration: none;
    }

    .empt {
        width:100%;min-height:200px;text-align:center;font-size:30px;font-weight:300;margin:50px 0;
    }

    .product img:hover{
        opacity : 0.7;
        transition: all 0.5s;
    }
    .pd_exp {
        color:#888;margin-top:10px;
    }

    hr {
        margin:0 20px;
    }
</style>

{% endblock %}

{% block main %}
<div class="lst_rt">
    {% if cate %}
    <h2> {{ cate[7] }} </h2>
    <hr>
    <h3> {{ cate[8] }} </h3>
    {% else %}
    {% if row %}{% else %}<div class="empt">상품이 없습니다.</div>{% endif %}
    {% endif %}
    <div class="pd_row">
        {% for pd in pdlist %}
        <a href="/shops/view/{{ pd.pno }}" class="blank">
            <div class="product">
                <img src="{{ pd.tumbimg }}" alt="{{ pd.name }} 썸네일 이미지">
                <div class="pd_fl">
                    <div class="pd_title">{{ pd.name }}</div>
                    <div class="pd_price"><span class="pd_price">{{ pd.price }}</span> 원</div>
                </div>
                <div class="pd_exp">{{ pd.exp }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // , 설정
    const reprices = document.querySelectorAll('.pd_price');
    for (const reprice of reprices) {
        chval = reprice.innerHTML.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        reprice.innerHTML = chval;
    }
</script>
{% endblock %}