{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/shop.css') }}">
<style>
    body {
        width: 100%;
    }

    .oderfrm {
        display: flex;
        width: 70%;
        margin: 0 auto;
        font-size: 15px
    }
    .odfrmmain {
        width: 50%;
        margin-right: 20px;
    }

    .oderfrm h3 {
        padding: 30px 0;
    }


    .odfrmmain hr {
        color: #f4f4f4;;
    }

    .sidebar {
        width: 38%;
        padding-left: 5%;
        border-left: 1px solid #e0e0e0;
    }

    .sidebar .cbox{
        grid-template-columns: 1fr 3fr;
    }

    .orderitems{
        grid-template-columns:1fr 2.5fr;;
    }

    .cart_pd_img {
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .orderiteminfo{
        margin-left:20px;
    }
    .cbox {
        display: grid;
        padding: 25px;
        background: #faf9f7;
        margin: 5px 0 30px 0;
    }

    .cart_notice {
        font-size:13px;
    }
    a:hover,
    a:visited {
        color: #5b5b5b;
        font-weight:300
    }

    .cart_btns {
        display:grid;
        grid-template-columns: 1fr 2fr;
    }

    .sbinfo {
        font-size: 12px;}

    .total_price {
        color:#8a6b28;
        text-align:right;
    }

</style>
{% endblock %}
{% block main %}
<main>
    <h2>주문/결제하기</h2>
    {% if m %}
    <form name="oderfrm" class="oderfrm">
        <div class="odfrmmain">

            <!-- 배송 정보 -->
            <h3> 배송 정보 </h3>
            <div class="cbox">
                <div class="">이름 : {{ m.name }}</div>
                <div class="">전화번호 : {{ m.phone }}</div>
                <div class="">주소 : {{ m.zipcode }} {{ m.address1 }} {{ m.address2 }}</div>
            </div>
            <!-- 주문 상품 -->
            <h3> 주문 상품 </h3>
            <div class="cbox orderitems">
<!--                <div class="cart_pd_img" style="background-image: url('')"></div>-->
                <div class="cart_pd_img"></div>
                <div class="orderiteminfo">
                    <span class="cart_pd_title"><span class="pdname"></span></span>
                    <span class="sbinfo">
                        w<span class="pdwidth"></span>, d<span class="pddepth"></span>, h<span class="pdheight"></span>
                    </span>
                    <div class="infobox">
                        <span class="sbinfo pd_price"><span class="price"></span></span>
                        <span class="sbinfo">
                        <input type="hidden" name="quantity" class="quantity" readonly value="1">
                        ( 1 )
                        </span>
                    </div>
                    <div class="pd_price"><span class="total"></span></div>
                </div>
                <input type="hidden" name="pno" id="pno" class="pno" readonly value="">
                <input type="hidden" name="pdprice" id="pdprice" class="pdprice" readonly value="">
            </div>
        </div>
        <!-- aside -->
        <aside class="sidebar">
            <h3>결제 정보</h3>
            <div class="cbox">
                <div>총 가격</div>
                <div class="total_price pd_price">
                    <span class="altotal"></span> 원
                </div>
            </div>

            <div class="cart_notice">
                <p>이 구매를 진행함으로써 귀하는 당사의
                    <a href="/visit/visit" title="Terms and Conditions">Terms and
                        개인 정보 보호 정책</a>
                    과
                    <a href="/visit/visit" title="Privacy">
                        약관
                    </a>
                    에 동의합니다.
                </p>
            </div>
            <div class="cart_btns">
                <button type="button" class="btn" name="checkout" id="bbtn">
                    돌아가기
                </button>
                <button type="button" class="btn" name="checkout" id="ckbtn">
                    결제하기
                </button>
            </div>


            <input type="hidden" name="mno" id="mno" value="{{ m.mno }}">
            <input type="hidden" name="unitprice" id="unitprice" class="unitprice" value="{{ totals | sum }}">

            <input type="hidden" name="pnos" id="pnos">
            <input type="hidden" name="quantitys" id="quantitys">
            <input type="hidden" name="pdprices" id="pdprices">
        </aside>
    </form>
    {% endif %}
</main>
{% endblock %}

{% block script %}
<script>
    // 주문 추가
    let ckbtn = document.querySelector('#ckbtn');
    let pnos = document.querySelector('#pnos');
    let quantitys = document.querySelector('#quantitys');
    let pdprices = document.querySelector('#pdprices');
    let oderfrm = document.oderfrm;

    // 값 변경
    document.querySelector('#unitprice').value = sessionStorage.getItem("unitprice");
    document.querySelector('#pnos').value = sessionStorage.getItem("pnos");
    document.querySelector('#pno').value = sessionStorage.getItem("pnos");
    document.querySelector('#quantitys').value = sessionStorage.getItem("quantitys");
    document.querySelector('#pdprices').value = sessionStorage.getItem("pdprices");
    document.querySelector('#pdprice').value = sessionStorage.getItem("pdprices");


    // 출력용 값 변경
    let thumbimg = sessionStorage.getItem("othumbimg");

    document.querySelector('.cart_pd_img').style.backgroundImage = `url(${thumbimg})`;
    document.querySelector('.pdname').innerHTML = sessionStorage.getItem("oname");

    document.querySelector('.pdwidth').innerHTML = sessionStorage.getItem("owidth");
    document.querySelector('.pddepth').innerHTML = sessionStorage.getItem("odeps");
    document.querySelector('.pdheight').innerHTML = sessionStorage.getItem("oheight");

    document.querySelector('.price').innerHTML = sessionStorage.getItem("pdprices");
    document.querySelector('.total').innerHTML = sessionStorage.getItem("pdprices");
    document.querySelector('.altotal').innerHTML = sessionStorage.getItem("pdprices");

    sessionStorage.getItem("othumbimg");
    sessionStorage.getItem("oname");
    sessionStorage.getItem("owidth");
    sessionStorage.getItem("odeps");
    sessionStorage.getItem("oheight");


    ckbtn.addEventListener('click', () => {
        if (confirm("결제를 완료하시겠습니까?")) {
            // 1회성
            mnoval = document.getElementsByName('mno');
            unitprice = document.getElementsByName('unitprice');

            // 반복
            pnoval = document.getElementsByName('pno');
            quanval = document.getElementsByName('quantity');
            priceval = document.getElementsByName('pdprice');


            for (i = 0; i < document.getElementsByName('pno').length; i++) {
                if (i === 0) {
                    pnos.value = pnoval[i].value;
                    quantitys.value = quanval[i].value;
                    pdprices.value = priceval[i].value
                    continue
                }
                pnos.value += ',' + pnoval[i].value;
                quantitys.value += ',' + quanval[i].value;
                pdprices.value += ',' + priceval[i].value;
            }
            oderfrm.method = 'post';
            oderfrm.submit();
        }
    });

    // 이전으로 돌아가기
    document.querySelector('#bbtn').addEventListener('click', () => {
        history.back();
    });

    // , 설정
    const reprices = document.querySelectorAll('.pd_price');
    for (const reprice of reprices) {
        reprice.innerHTML = reprice.innerHTML.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
    }
</script>
{% endblock %}