{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/shop.css') }}">
    <style>
        img {
            width: 100%;
            margin-bottom: 20px;
        }

        .pd_row {
            display: grid;
            width: 100%;
            grid-template-columns: 2fr 1fr;
        }

        .main {
            padding: 20px;
            font-size: 15px;
            font-weight: 300;
            color: #333333;
        }

        .name {
            font-weight: 400;
        }

        .box {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    </style>

{% endblock %}
{% block main %}

    <div class="lst_rt">
        <form class="pd_row" name="viewfrm">
            <img src="{{ pd.tumbimg }}" class="main" alt="{{ pd.name }} 썸네일 이미지">
            <div class="namebox main">

                <div class="" style="display:none">
                    <input type="text" name="pno" id="pno" value="{{ pd.pno }}">
                    <input type="text" name="quantity" id="quantity" value="1">
                </div>

                <div class="name">{{ pd.name }}</div>
                <div class="">{{ pd.exp }}</div>
                {% if pd.pctoff != 0 %}
                    <div class="">{{ pd.retail }} 원</div>
                    <div class="">{{ pd.pctoff }} % 할인</div>
                {% endif %}
                <div><span id="pd_price">{{ pd.price }}</span> 원</div>
                <div class="box">
                    <button type="button" class="btn" name="checkout" onclick="alert('공사중입니다.')">
                        구매
                    </button>
                    {% if m %}
                    <input type="text" name="userid" id="userid" value="{{ m.userid }}" class="mada">
                    <button type="button" class="btn" name="checkout" id="usercartbtn">
                        장바구니 넣기
                    </button>
                    {% else %}
                    <button type="button" class="btn" name="checkout" id="jstcartbtn">
                        장바구니 (로그인 하러가기)
                    </button>
                    {% endif %}
                </div>
            </div>
        </form>


        <h3>상세페이지</h3>
        <div class="">{{ pd.detail }}</div>
    </div>
{% endblock %}

{% block script %}
    <script>
        // 회원 장바구니 추가
        let usercartbtn = document.querySelector('#usercartbtn');
        let viewfrm = document.viewfrm;
        if (usercartbtn){
            usercartbtn.addEventListener('click', () => {

                const formData = new FormData(viewfrm);

                let jsondata = {};
                formData.forEach(function (val, key) {
                    jsondata[key] = val;
                    console.log(jsondata);
                });

                fetch('http://127.0.0.1:8000/shops/view', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(jsondata)
                })
                    .then((res) => res.text())
                    .then((data) => {
                        if (parseInt(data) > 0) {
                            if(confirm("장바구니가 추가되었습니다. \n장바구니로 이동하시겠습니까?")){
                                location.href='http://127.0.0.1:8000/shops/cart';
                            }else{}
                        }
                        else alert('장바구니 오류. 관리자에게 문의하세요.')
                    })
                    .catch((err) => console.log(err));
            });
        }

        // 비회원 로그인 전환
        let jstcartbtn = document.querySelector('#jstcartbtn');
        if (jstcartbtn){
            jstcartbtn.addEventListener('click', () => {
                // alert('공사중입니다! 관리자에게 문의해주세요.');
                if(confirm("로그인이 필요한 서비스입니다. \n로그인 화면으로 이동하시겠습니까?")){
                    location.href='http://127.0.0.1:8000/login';
                }
            });
        }

        // , 설정
        const reprice = document.querySelector('#pd_price').innerHTML.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        document.querySelector('#pd_price').innerHTML = reprice;
    </script>
{% endblock %}