{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/shop.css') }}">
<style>
    img {
        width: 100%;
        margin-bottom: 20px;
    }

    .pd_row {
        display: grid;
        width: 100%;
        grid-template-columns: 1.5fr 1fr;
    }

    .main {
        padding: 20px 50px 20px 0;
        font-size: 15px;
        font-weight: 300;
        color: #333333;
    }

    .namebox {
        padding-right:15%;
    }
    .name {
        font-weight: 400;
        font-size: 24px;
    }

    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top:50px;
    }

    .expobox {
        min-height: 200px;
        margin: 10px 0;
    }
    .prbox {
        color:#8a6b28;
        font-size:24px;
        margin-top:20px;
        text-align:right;
    }

    .under {border-bottom:1px solid #ece9e6; padding:20px 0;color: #808080
    }

    .detail {min-height:300px; text-align:left;background:#faf9f7;padding:100px 0;}
    .detail .text {
        width: 50%;margin: 0 auto;letter-spacing:3px;color:#555;}
    .dumimg{
        width: 50%;margin: 50px auto;
    }
</style>

{% endblock %}
{% block main %}

<div class="lst_rt">
    <form class="pd_row" name="viewfrm">
        <img src="{{ pd.tumbimg }}" class="main" alt="{{ pd.name }} 썸네일 이미지">
        <div class="namebox main">

            <input type="hidden" name="pno" id="pno" value="{{ pd.pno }}">
            <input type="hidden" name="quantity" id="quantity" value="1">
            <input type="hidden" name="userid" id="userid" value="{{ m.userid }}">
            <input type="hidden" name="mno" id="mno" value="{{ m.mno }}">
            <input type="hidden" name="pdprice" id="pdprice" value="{{ pd.price }}">
            <input type="hidden" name="unitprice" id="unitprice" value="{{ pd.price }}">
            <input type="hidden" class="thumbimg" value="{{ pd.tumbimg }}">
            <input type="hidden" class="width" value="{{ pd.width }}">
            <input type="hidden" class="deps" value="{{ pd.deps }}">
            <input type="hidden" class="height" value="{{ pd.height }}">

            <div class="name">{{ pd.name }}</div>
            <div class="expobox">
                <div class="under">5-6주 안에 배송 준비 완료</div>
                <div class="exp under">{{ pd.exp }}</div>
                {% if pd.pctoff != 0 %}
                <div class="">{{ pd.retail }} 원</div>
                <div class="">{{ pd.pctoff }} % 할인</div>
                {% endif %}
                <div class="prbox"><span id="pd_price" class="price">{{ pd.price }}</span> 원</div>
            </div>
            <div class="box">
                {% if m %}
                <button type="button" class="btn" name="checkout" id="viewckbtn">
                    구매
                </button>
                <button type="button" class="btn" name="checkout" id="usercartbtn">
                    장바구니 넣기
                </button>
                {% else %}
                <button type="button" class="btn" name="checkout" id="jstckbtn">
                    구매
                </button>
                <button type="button" class="btn" name="checkout" id="jstcartbtn">
                    장바구니 넣기
                </button>
                {% endif %}
            </div>
        </div>
    </form>


    <h3>디자인 발견</h3>
    <div class="detail">
        <div class="text">
        {{ pd.detail }}
        </div>
    </div>
    <div class="dumimg">
        <img src="https://maidenhome.com/cdn/shop/files/Material_Laydown_5x3_d1cc295b-caaf-41b0-a8cd-644e65820585_800x.jpg?v=1655407970" alt="dumimg">
    </div>

</div>
{% endblock %}

{% block script %}
<script>
    // 회원 장바구니 추가
    let usercartbtn = document.querySelector('#usercartbtn');
    let viewfrm = document.viewfrm;
    if (usercartbtn) {
        usercartbtn.addEventListener('click', () => {

            const formData = new FormData(viewfrm);

            let jsondata = {};
            formData.forEach(function (val, key) {
                jsondata[key] = val;
                console.log(jsondata);
            });

            fetch('http://127.0.0.1:8000/shops/view', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsondata)
            })
                .then((res) => res.text())
                .then((data) => {
                    if (parseInt(data) > 0) {
                        if (confirm("장바구니가 추가되었습니다. \n장바구니로 이동하시겠습니까?")) {
                            location.href = 'http://127.0.0.1:8000/shops/cart';
                        } else {
                        }
                    } else alert('장바구니 오류. 관리자에게 문의하세요.')
                })
                .catch((err) => console.log(err));
        });
    }


    // 비회원이 구매나 장바구니 버튼 클릭 시 로그인 화면 이동 여부를 묻는 창을 출력
    let jstcartbtn = document.querySelector('#jstcartbtn');

    function tologin() {
        if (confirm("로그인이 필요한 서비스입니다. \n로그인 화면으로 이동하시겠습니까?")) {
            location.href = 'http://127.0.0.1:8000/login';
        }
    }

    if (jstcartbtn) {
        jstcartbtn.addEventListener('click', tologin);
    }

    let jstckbtn = document.querySelector('#jstckbtn');
    if (jstckbtn) {
        jstckbtn.addEventListener('click', tologin);
    }

    // 상세페이지에서 바로 구매하는 기능
    let viewckbtn = document.querySelector('#viewckbtn');

    let mno = document.querySelector('#mno').value;
    let unitprice = document.querySelector('#unitprice').value;
    let pnos = document.querySelector('#pno').value;
    let quantitys = document.querySelector('#quantity').value;
    let pdprices = document.querySelector('#pdprice').value;

    let othumbimg = document.querySelector('.thumbimg').value;
    let oname = document.querySelector('.name').innerHTML;
    let owidth = document.querySelector('.width').value;
    let odeps = document.querySelector('.deps').value;
    let oheight = document.querySelector('.height').value;

    viewckbtn.addEventListener('click', ()=>{
        sessionStorage.setItem("mno", mno);
        sessionStorage.setItem("unitprice", unitprice);
        sessionStorage.setItem("pnos", pnos);
        sessionStorage.setItem("quantitys", quantitys);
        sessionStorage.setItem("pdprices", pdprices);


        sessionStorage.setItem("othumbimg", othumbimg);
        sessionStorage.setItem("oname", oname);
        sessionStorage.setItem("owidth", owidth);
        sessionStorage.setItem("odeps", odeps);
        sessionStorage.setItem("oheight", oheight);

        location.href = 'http://127.0.0.1:8000/shops/orderdr';
    });

    console.log(sessionStorage.getItem("directpay"));
    console.log(sessionStorage.key(0));


    // , 설정
    const reprice = document.querySelector('#pd_price').innerHTML.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
    document.querySelector('#pd_price').innerHTML = reprice;
</script>
{% endblock %}