{% extends 'base.html' %}


{% block style %}
  <style>
      .form-control.btn-outline-primary {
          margin-top: 10px;
          width: 100% ;
          background-color: #f4f4f4;
          text-align: center;
          font-size: 14px;
          color: black;
          border: 1px solid dimgrey ;
          padding: 14px;
          cursor: pointer;
          border-radius: 0;
      }
      .form-control.btn-outline-primary:hover {
          color: white;
          border: 1px solid transparent ;
          background-color: black;
      }
    #faq {  margin-left: -40px; margin-right: 5px; margin-bottom: 150px;}
    #faq h3 { margin-left: 130px; }
    #qna {  margin-left: 300px; margin-bottom: 150px;}

    form { width: 1200px; height: 500px; margin: 50px auto; }
    form div { margin-bottom: 10px;}
    form label { font-weight: bold; width: 100px; text-align: right; border:none; }
    form select { margin-left:0px; width: 50px; text-align: center }
    form button:first-child { margin-left: 120px;
      background-color: #dcdcdc; border: none;}
    .col-form-label { font-weight: normal; text-align: left; input-focus-border-color: none;}
    .form-control { border-radius: 0; }

    .dragup { vertical-align: top }

  </style>
{% endblock %}

{% block main %}
  <main>
    <div class="row">
      <div class="col-7 offset-1">
        <div id="qna" >
        <h3>ABOUT US</h3>
        <form name="boardfrm">
          <div class="row">
            <div class="col-auto">
              <label for="category" class="col-form-label">구분</label>
            </div>
            <div class="col-auto">
              <select name="category" id="category" class="form-control border-bottom border-0 ">
                <option value="선택">선택</option>
                <option value="상품">상품</option>
                <option value="재고">재고</option>
                <option value="배송">배송</option>
                <option value="결제">결제</option>
                <option value="방문">방문예약</option>
                <option value="기타">기타</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-auto">
              <label for="userid" class="col-form-label">작성자</label></div>
            <div class="col-auto">
              <input type="text" name="userid" id="userid" value="abc123" readonly class="form-control border-bottom border-0"> </div>
          </div>
          <div class="row">
            <div class="col-auto">
              <label for="title" class="col-form-label">제목</label></div>
            <div class="col-auto">
              <input type="text" name="title" id="title" class="form-control border-bottom border-0"></div>
          </div>
          <div class="row">
            <div class="col-auto">
              <label for="contents" class="col-form-label">문의내용</label></div>
            <div class="col-auto">
              <textarea name="contents" id="contents" placeholder="자주 묻는 질문(FAQ)을 확인 후 문의를 남겨주세요."
                        cols="60" rows="7" class="form-control"></textarea></div>
          </div>
          <div class="row">
            <div class="col-auto">
              <label for="captcha" class="col-form-label">자동작성방지</label></div>
            <div class="col-auto">
              <div id="captcha"></div></div>
          </div>
            <div class="row">
              <div class="col-auto">
                <button type="submit" class="form-control btn btn-outline-primary btn-lg theme-btn--primary-inverse sqs-button-element--primary" data-animation-role="header-element" style="transition-timing-function: ease; transition-duration: 0.4s; transition-delay: 0.172727s; animation-duration: 0.4s;" >입력완료</button></div>
              <div class="col-auto">
                <button type="submit" class="form-control btn btn-outline-primary btn-lg theme-btn--primary-inverse sqs-button-element--primary" data-animation-role="header-element" style="transition-timing-function: ease; transition-duration: 0.4s; transition-delay: 0.172727s; animation-duration: 0.4s;">다시입력</button></div>
            </div>
        </form>
      </div>
      </div>
      <div class="col-3 offset-1">
        <div id="faq">
          <h3>FAQ</h3>
          <table class="table w-50 container mt-5">
            <tr class="border-bottom"><td><a href="/contact/faq">상품</a></td></tr>
            <tr class="border-bottom"><td><a href="/contact/faq">재고</a></td></tr>
            <tr class="border-bottom"><td><a href="/contact/faq">배송</a></td></tr>
            <tr class="border-bottom"><td><a href="/contact/faq">결제</a></td></tr>
            <tr class="border-bottom"><td><a href="/contact/faq">방문예약</a></td></tr>
          </table>
        </div>
      </div>
    </div>

  </main>
{% endblock %}

{% block script %}
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>

    <script type="text/javascript">
        var onloadCallback = () => {
            grecaptcha.render('captcha', { 'sitekey' : '6LfM1XApAAAAAPxyHPXw8TO6LS2cUvSumWnKdi6f'
            });
        };
    </script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
    let writebtn = document.querySelector('#writebtn');
    let boardfrm = document.boardfrm;
    writebtn.addEventListener('click', () => {

      //캡챠 체크 - 캡챠 응답토큰 생성 여부 확인
      // console.log(grecaptcha.getResponse());
      // alert('대기중..')
      if (grecaptcha.getResponse() === '') {
        alert('자동가입방지를 확인하세요.');
        return;
      }

      const formData = new FormData(boardfrm);

      let jsondata = {};
      formData.forEach((val, key) => {
        jsondata[key] = val;
      });
      // 캡챠 응답토큰을 jsondata에 추가
      jsondata['response'] = grecaptcha.getResponse();


      fetch('/board/write', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsondata),
        redirect: 'follow'      //서버에서 전송한 상태코드, url에 따름
      })
              .then((res) => {
                //상태코드가 3xx라면, 지정한 페이지로 이동
                if (res.redirected) location.href = res.url;
              })
              .catch((err) => console.log(err));

    })
    </script>
{% endblock %}