<header>
    <div  class="inner">
        <div class="top">
            <div class="logo_contain">
                <a class="logo" href="http://127.0.0.1:8000/" style="text-decoration-line: none">
                    et cetera
                </a>
            </div>
            <div class="main_title">
                <div class="inner_submenu_right"><a href="login">Log in</a> or <a href="join">SIGN-UP</a></div>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <div class="search_bar">
                            <input type="search"  class="form-control"></div>

                        <div class="right_font"><button type="button"
                                                        class="search material-symbols-outlined">search</button></div>

                    </li>
                    {% if 'm' in request.session %}
                    <li>
                        <a href="/shops/cart">
                                <span class="material-symbols-outlined">shopping_cart
                                </span>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/login">
                                <span class="material-symbols-outlined">shopping_cart
                                </span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="http://www.naver.com">
                                <span class="material-symbols-outlined">person
                                </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="center">
                <div class="dropdown">
                    <ul>
                        <li>
                            <button class="dropbtn">LIVING</button>
                            <div class="dropdown-content">
                                <a  href="/shops/list/101">Sofas</a>
                                <a href="/shops/list/102">Tables</a>
                                <a href="/shops/list/103">Chairs</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <ul>
                        <li>
                            <button class="dropbtn">DINING</button>
                            <div class="dropdown-content">
                                <a  href="/shops/list/201">Dining Tables</a>
                                <a href="/shops/list/202">Dining Chairs</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <ul>
                        <li>
                            <button class="dropbtn">BEDROOM</button>
                            <div class="dropdown-content">
                                <a  href="/shops/list/301">Beds</a>
                                <a href="/shops/list/302">Nightstands</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <ul>
                        <li>
                            <button class="dropbtn">contact</button>
                            <div class="dropdown-content">
                                <a  href="#">notice</a>
                                <a href="#">q&a</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <ul>
                        <li>
                            <button class="dropbtn"><a href="/visit/visit" style="text-decoration: none">visit</a></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

</header>
<div class="headerback"></div>
