.lst_rt {
    padding: 0 5%;
    font-family: "Aboreto", "Orbit", system-ui;
}

#pd_list_title_wrap .pd_list_hd_comp h2 {
    color: rgba(51, 51, 51, 1);
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 1.4em;
}

h2 {
    text-align: center;
    padding: 5% 0;
}

h3 {
    text-align: center;
    padding: 2% 0;
}


.btn {
    /*display: block;*/
    padding: 20px 10px;
    background: #f4f4f4;
    border: 1px solid #4a4a4a;
    font-size: 13px;
    color: #4a4a4a;
    margin: 5px;
    border-radius: 0;
    transition: all 0.5s;
}

.btn:hover {
    background: #4a4a4a;
    color: #fff;
}

.mada {
    display: none;
}